@import "tailwindcss";

:root {
  --gradient-color-1: #0a0a0a; /* Nosso fundo escuro principal */
  --gradient-color-2: #3c096c; /* Um roxo bem escuro */
  --gradient-color-3: #5a189a; /* Roxo principal */
  --gradient-color-4: #9d4edd; /* Um roxo mais claro para dar brilho */
}

body {
  background-color: transparent;
}
